* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 80%;
    width: 70%;
    margin: auto;
    background-color: rgb(243, 243, 243, .5);
    padding: 10px;
    border-radius: 10px;
}

.buttons {
    width: 100%;
    text-align: center;
}

.mainInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    background-color: rgb(243, 243, 243, .5);
}

h1 {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 30px;
    color: rgb(45, 46, 49);
}

ul li {
    line-height: 70px;
    position: relative;
}

h3 {
    color: lightgray;
}

.check {
    margin-right: 30px;
    transform: scale(1.6)
}

.del {
    float: right;
    padding: 5px;
    margin-top: 20px;
    background-color: yellowgreen;
}

.edit {
    padding: 5px 10px;
    margin-top: 20px;
    background-color: yellowgreen;
    right: 20%;
    position: absolute;
}

.btn1 {
    font-size: 30px;
    padding: 5px;
    background-color: skyblue;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 3px 2px blueviolet;
}